##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Visual Studio Code
##############################
.vscode/
lib/
.code-workspace